/node_modules
.idea
.phpintel
/public/hot
/public/storage
/storage/framework/sessions/*
/storage/framework/cache/data/*
/storage/framework/views/*
/storage/logs/*
/storage/visitors/*
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/page-cache
.vscode
/storage/logs/laravel-2020-10-26.log
/public/D:\Physics\NewOpenServer\OSPanel\domains\new-dp.loc\storage\logs/laravel-2020-10-15.log
