<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Article</title>
	<link rel="icon" type="/image/png" href="../images/favicon.png">
	<link rel="stylesheet" href="../css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	</style>
</head>
<body>
	<div class="page-container">
		<div class="main-container">
			<!-- Navbar -->
			<section id="navbar-section">
				<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
					<a class="navbar-brand mr-lg-4" href="../index.html">Qaqnus</a>
					<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#this">
						<span class="navbar-toggler-icon"></span>
					</button>

					<div class="collapse navbar-collapse" id="this">
						<ul class="navbar-nav mr-auto">
							<li class="nav-item">
								<a class="nav-link" href="all-news.html">All News</a>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="nv-drop" data-toggle="dropdown">Categories</a>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="category.html">World</a>
									<a class="dropdown-item" href="category.html">Local</a>
								</div>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="contact.html">Contact</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="about.html">About Us</a>
							</li>
						</ul>
					</div>
				</nav>
			</section>

			<!-- Main content -->
			<section id="main-content">
				<div class="container-fluid">
					<div class="container article-border rounded shadow bg-light mt-4 mb-3 p-2">
						<div class="article-title text-center mt-4">
							<h1>This is Title</h1>
						</div>
						<div class="mt-1 ml-lg-4 mr-lg-4">
							<h4 class="article-head text-justify font-italic">
							This is Description. Lorem ipsum dolor sit amet, consectetur adipisicing elit, eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							</h4>
						</div>
						<div class="m-4 p-2 text-center">
							<img src="../images/all-1.png" class="article-img rounded">
						</div>
						<div class="mt-1 ml-lg-4 mr-lg-4">
							<p class="text-justify article-content">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
								cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
								proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
								cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
								proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
								cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
								proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
								cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
								proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
								cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
								proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							</p>
						</div>
						<div class="m-4">
							<div class="section-title">
								<h2 style="font-size:1.2rem;"><span>Comments</span></h2>
							</div>
							<form>
								<input type="text" class="form-control" name="comment" id="comment" placeholder="Share your opinion...">
								<div class="text-right">
									<button type="submit" class="btn btn-success font-weight-bold btn-post" name="post" id="post" disabled>Post</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</section>
		</div>

		<!-- Footer -->
		<footer id="footer-section" class="footer">
			<div class="container-fluid bg-dark p-2 mt-2  pb-3">
				<div class="container text-info">
					<div class="row mt-sm-2">
						<div class="col-lg-6 col-sm-12 footer-text">
							<p><i class="fa fa-copyright"></i> Copyright. All Rights Reserved 2020, Qaqnus</p>
						</div>
						<div class="col-lg-6 col-sm-12 footer-icons">
							<a href="#" class="sc-link"><i class="fa fa-facebook fa-lg"></i></a>
							<a href="#" class="sc-link"><i class="fa fa-twitter  fa-lg"></i></a>
							<a href="#" class="sc-link"><i class="fa fa-telegram  fa-lg"></i></a>
							<a href="#" class="sc-link"><i class="fa fa-instagram  fa-lg"></i></a>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>
 <script src="../js/jquery.js"></script>
 <script src="../js/popper.js"></script>
 <script src="../js/bootstrap.js"></script>
</body>
</html>