<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Category</title>
	<link rel="icon" type="/image/png" href="../images/favicon.png">
	<link rel="stylesheet" href="../css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	</style>
</head>
<body>
	<div class="page-container">
		<div class="main-container">
			<!-- Navbar -->
			<section id="navbar-section">
				<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
					<a class="navbar-brand mr-lg-4" href="../index.html">Qaqnus</a>
					<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#this">
						<span class="navbar-toggler-icon"></span>
					</button>

					<div class="collapse navbar-collapse" id="this">
						<ul class="navbar-nav mr-auto">
							<li class="nav-item">
								<a class="nav-link" href="all-news.html">All News</a>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="nv-drop" data-toggle="dropdown">Categories</a>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="category.html">World</a>
									<a class="dropdown-item" href="category.html">Local</a>
								</div>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="contact.html">Contact</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="about.html">About Us</a>
							</li>
						</ul>
						<form class="form-inline mr-lg-2">
					     <input class="form-control search" type="text" placeholder="Search"></input>
					      <button class="btn rounded-circle" type="button"><i class="fa fa-search"></i></button>
					    </form>
					</div>
				</nav>
			</section>

			<!-- Main content -->
			<section id="main-content">
				<div class="container-fluid">

					<!-- All news -->
					<section id="all-news">
						<div class="section-title" style="margin-top: 30px;">
							<h2><span>CategoryName News</span></h2>
						</div>
						<div class="row">
							<div class="col-lg-3 col-md-4 col-sm-6 mb-2">
								<div class="small-card rounded shadow bg-light">
									<a href="article.html"><img src="../images/all-1.png" class="small-card-img"></a>
									<div class="small-card-description card-overflow">
										<a href="article.html"><h4>Javascript-scripting language</h4></a>
										<p class="p-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
										quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
										consequat. Duis aute irure dolor in reprehenderi</p>
										<div class="text-right">
											<div class="news-scope d-inline">
												<a><span class="badge-success rounded">World</span></a>
											</div>
											<div class="news-date d-inline">
												<p class="d-inline"><i class="fa fa-clock"></i> 15:57,02.02.2020</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-4 col-sm-6 mb-2">
								<div class="small-card rounded shadow bg-light">
									<a href="article.html"><img src="../images/all-2.jpg" class="small-card-img"></a>
									<div class="small-card-description card-overflow">
										<a href="article.html"><h4>NAVI-Top 1 in HLTV</h4></a>
										<p class="p-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
										quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
										consequat. Duis aute irure dolor in reprehenderit</p>
										<div class="text-right">
											<div class="news-scope d-inline">
												<a><span class="badge-success rounded">World</span></a>
											</div>
											<div class="news-date d-inline">
												<p class="d-inline"><i class="fa fa-clock"></i> 15:57,02.02.2020</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-4 col-sm-6 mb-2">
								<div class="small-card rounded shadow bg-light">
									<a href="article.html"><img src="../images/all-1.png" class="small-card-img"></a>
									<div class="small-card-description card-overflow">
										<a href="article.html"><h4>Javascript-scripting language</h4></a>
										<p class="p-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
										quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
										consequat. Duis aute irure dolor in reprehenderi</p>
										<div class="text-right">
											<div class="news-scope d-inline">
												<a><span class="badge-success rounded">World</span></a>
											</div>
											<div class="news-date d-inline">
												<p class="d-inline"><i class="fa fa-clock"></i> 15:57,02.02.2020</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-4 col-sm-6 mb-2">
								<div class="small-card rounded shadow bg-light">
									<a href="article.html"><img src="../images/all-2.jpg" class="small-card-img"></a>
									<div class="small-card-description card-overflow">
										<a href="article.html"><h4>NAVI-Top 1 in HLTV</h4></a>
										<p class="p-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
										quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
										consequat. Duis aute irure dolor in reprehenderit</p>
										<div class="text-right">
											<div class="news-scope d-inline">
												<a><span class="badge-success rounded">World</span></a>
											</div>
											<div class="news-date d-inline">
												<p class="d-inline"><i class="fa fa-clock"></i> 15:57,02.02.2020</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-4 col-sm-6 mb-2">
								<div class="small-card rounded shadow bg-light">
									<a href="article.html"><img src="../images/all-1.png" class="small-card-img"></a>
									<div class="small-card-description card-overflow">
										<a href="article.html"><h4>Javascript-scripting language</h4></a>
										<p class="p-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
										quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
										consequat. Duis aute irure dolor in reprehenderi</p>
										<div class="text-right">
											<div class="news-scope d-inline">
												<a><span class="badge-success rounded">World</span></a>
											</div>
											<div class="news-date d-inline">
												<p class="d-inline"><i class="fa fa-clock"></i> 15:57,02.02.2020</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-4 col-sm-6 mb-2">
								<div class="small-card rounded shadow bg-light">
									<a href="article.html"><img src="../images/all-2.jpg" class="small-card-img"></a>
									<div class="small-card-description card-overflow">
										<a href="article.html"><h4>NAVI-Top 1 in HLTV</h4></a>
										<p class="p-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
										quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
										consequat. Duis aute irure dolor in reprehenderit</p>
										<div class="text-right">
											<div class="news-scope d-inline">
												<a><span class="badge-success rounded">World</span></a>
											</div>
											<div class="news-date d-inline">
												<p class="d-inline"><i class="fa fa-clock"></i> 15:57,02.02.2020</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-4 col-sm-6 mb-2">
								<div class="small-card rounded shadow bg-light">
									<a href="article.html"><img src="../images/all-1.png" class="small-card-img"></a>
									<div class="small-card-description card-overflow">
										<a href="article.html"><h4>Javascript-scripting language</h4></a>
										<p class="p-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
										quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
										consequat. Duis aute irure dolor in reprehenderi</p>
										<div class="text-right">
											<div class="news-scope d-inline">
												<a><span class="badge-success rounded">World</span></a>
											</div>
											<div class="news-date d-inline">
												<p class="d-inline"><i class="fa fa-clock"></i> 15:57,02.02.2020</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-4 col-sm-6 mb-2">
								<div class="small-card rounded shadow bg-light">
									<a href="article.html"><img src="../images/all-2.jpg" class="small-card-img"></a>
									<div class="small-card-description card-overflow">
										<a href="article.html"><h4>NAVI-Top 1 in HLTV</h4></a>
										<p class="p-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
										quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
										consequat. Duis aute irure dolor in reprehenderit</p>
										<div class="text-right">
											<div class="news-scope d-inline">
												<a><span class="badge-success rounded">World</span></a>
											</div>
											<div class="news-date d-inline">
												<p class="d-inline"><i class="fa fa-clock"></i> 15:57,02.02.2020</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</section>
		</div>

		<!-- Footer -->
		<footer id="footer-section" class="footer">
			<div class="container-fluid bg-dark p-2 mt-2  pb-3">
				<div class="container text-info">
					<div class="row mt-sm-2">
						<div class="col-lg-6 col-sm-12 footer-text">
							<p><i class="fa fa-copyright"></i> Copyright. All Rights Reserved 2020, Qaqnus</p>
						</div>
						<div class="col-lg-6 col-sm-12 footer-icons">
							<a href="#" class="sc-link"><i class="fa fa-facebook fa-lg"></i></a>
							<a href="#" class="sc-link"><i class="fa fa-twitter  fa-lg"></i></a>
							<a href="#" class="sc-link"><i class="fa fa-telegram  fa-lg"></i></a>
							<a href="#" class="sc-link"><i class="fa fa-instagram  fa-lg"></i></a>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>
 <script src="../js/jquery.js"></script>
 <script src="../js/popper.js"></script>
 <script src="../js/bootstrap.js"></script>
</body>
</html>